<!DOCTYPE html>
<html>
<head>
	<title>Rams</title>
	<meta charset="UTF-8">

   		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link type="text/css" href="https://code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
        <script type="text/javascript" src="https://code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>
         <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
<link rel='stylesheet prefetch' href='https://code.cloudcms.com/alpaca/1.5.23/jquerymobile/alpaca.min.css'>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
    .w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
    
</head>
<body>
    <!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="" ss="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1"></a>
    
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Home</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'login' %}">Logout</a>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">


        {{question_list}}


		<div id="form"></div>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#form").alpaca({
                    "schema": {
                        "title":"sheet id",
                        "description":"Response for sheet ",
                        "type":"object",
                        "properties": {

                        "auditee":{
                            "type":"string",
                            "title":"Add auditee name(optional)",
                            "required":false
                        },

                        {% for question in question_list%}

                        	{% if question.q_type == 'yes/no'%}

	                            "{{question.q}}":{"type":"string","title":"{{question.q}}","required":true,"enum":["YES","NO"]},

	                        {% else %}

		                        	{% if question.q_type == 'Descriptive' %}

		                        	 "{{question.q}}": {
		                                "type":"string",
		                                "title":"{{question.q}}",
		                                "required":true,
										},


			                        {% else %}
			                        	"{{question.q}}": {
			                                "type":"string",
			                                "title":"{{question.q}}",
			                                "required":true,
			                                "enum":["0","1","2","3","4"]
			                            },
			                         {% endif %}
			                        	


	                        {% endif %}
                         {% endfor %}

                            "comment":{
                            "type":"string",
                            "title":"Add comment for the sheet(optional)",
                            "required":false
                        },                         
                            
                        }
                       },



                      "options": 
                    {

                      	"form":{
                            "attributes":{
                                "action":" {% url 'get_response' f_id s_id %} ",
                                "method":"post"
                            },
                            "buttons":{
                                "submit":{
                                    "title": "Send Form Data",
                                    "click": function() {
                                        var val = this.getValue();
                                        if (this.isValid(true)) {
                                            alert("sheet posted");
                                            this.ajaxSubmit().done(function() {
                                                alert("Posted!");
                                            });
                                        } else {
                                            alert("Invalid value: " + JSON.stringify(val, null, "  "));
                                        }
                                    }
                                }
                            }
                        },


                      	"fields" : {
			                      	 {% for question in question_list%}


						                      	 	{% if question.q_type == 'yes/no'%}

								                            "{{question.q}}": {
								                                "type":"radio",
									                            "removeDefaultNone":"true",
									                        },

				                        {% else %}

					                        	{% if question.q_type == 'Descriptive' %}

								                        	 "{{question.q}}": {
								                              		 	"type": "textarea",
										                                "rows": 5,
										                                "cols": 40,
																},


						                        {% else %}
									                        	"{{question.q}}": {
									                        		 "type" : "radio",
									                                 "optionLabels": ["poor", "average", "good","very good","excelent"],
									                                 "removeDefaultNone":"true"
									                            },
						                         {% endif %}
						                        	
						                      {% endif %}
			                      	 {% endfor %}

                                    "comment":{
                                        "type": "textarea",
                                        "rows": 5,
                                        "cols": 40,
                                    }

                      	}




                      },
                     

                      "postRender": function(control) {
                        control.childrenByPropertyId["name"].getFieldEl().css("background-color", "lightgreen");


                    }
                    
                });
            });
        var csrftoken = $.cookie('csrftoken');
        </script>

    </div>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>