<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  {% load static %}
  <title>Fluid Social Navbar</title>
  
  
  
      <link rel="stylesheet" href="{% static 'webapp/css/dash_style.css' %}">

  
</head>

<body>
  <p>
  <h1>AUDIT DASHBOARD</h1>
  <h1>{{audit_name}}</h1>
  </p>

  <nav>
  <ul>
    <li><a class="social google" href="{% url 'AuditFiles' audit_id %}">View audit files</a></li>
    <li><a class="social tumblr" href="{% url 'EditAudit' audit_id %}">Edit Audit</a></li>
    <li><a class="social facebook" href="#">Add Auditors</a></li>
    <li><a class="social github" href="#">Start Audit</a></li>
    <li><a class="social scriptogram" href="#">Delete audit</a></li>
    <!--<li><a class="social twitter" href="#">blah</a></li>
    <li><a class="social instagram" href="#">Instagram</a></li>
    <li><a class="social linkedin" href="#">LinkedIn</a></li> -->
  </ul>
</nav>
  
  

</body>

</html>
