<!DOCTYPE html>
<html>
<head>
 <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<style type="text/css">
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>

    <title>RAMS</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/css/product-list-small.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">




	<title>RAMS</title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RAMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'AdminMenu' %}">Home</a></li>
	<li><a href="#">back</a></li>
      <!--
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>

<h1> audit sheets for file_id {{file_id}}</h1>


 <ul class="product-list-small">

    {% for sheet in sheet_list %}

        <li>

            <a href="#" class="product-photo">
                <img src="{%static 'webapp/images/sheet.png'%}" height="105" alt="audit" />
            </a>

            <h2><a href="#"><b>{{sheet.sheet_name}}</b></a></h2>


           
            <a href="{% url 'questions' sheet.s_id %}" class="btn btn-info" role="button">edit</a>
            <a href="#" class="btn btn-info" role="button">delete</a>

           

        </li>

    {% endfor %}

     

    </ul>


 <div class ="wrapper">
        <a href="{% url 'CreateSheet' file_id %}" class="btn btn-info" role="button">Add sheet</a>

    </div>
</body>
</html>
