<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  {% load static %}
  <title>RAMS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  
      <link rel="stylesheet" href="{% static 'webapp/css/dash_style.css' %}">

  
</head>


<body>

	
  <p>
  <h1>AUDIT DASHBOARD</h1>
  <h1>{{audit_name}}</h1>
  </p>

  <nav>
  <ul>
    <li><a class="social google" href="{% url 'AuditFiles' audit_id %}">View audit files</a></li>
    
    {% if ongoing == 0 %}
      <li><a class="social tumblr" href="{% url 'EditAudit' audit_id %}">Edit Audit</a></li>
      <li><a class="social facebook" href="{% url 'AddAuditor' audit_id %}">Add Auditors</a></li>
      <li><a class="social github" href="{% url 'auditstart' audit_id %}">Start Audit</a></li>
      <li><a class="social scriptogram" href="#">Delete audit</a></li>
    <!--<li><a class="social twitter" href="#">blah</a></li>
    <li><a class="social instagram" href="#">Instagram</a></li> -->
    {% else %}
    <li><a class="social linkedin" href="{% url 'monitor' audit_id %}">Monitor Audit</a></li>
    <li><a class="social instagram" href="#">stop audit</a></li>
    {% endif %}
  </ul>
</nav>
  
  

</body>

</html>
