<!DOCTYPE html>
<html>
<head>
<style type="text/css">
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<title>RAMS</title>
</head>
<body>
<div class="wrapper">
<h1> Auditor {{emp_id}} is deleted</h1>


 <a href=" {% url 'AuditorList' %} " class="btn btn-info" role="button">SHOW LIST</a>
 </div>

	
</body>
</html>